body {
  background-color: rgb(34, 34, 34);
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

label{
    color: white;
}

p {
  margin-top: 1rem;
  margin-bottom: 0;
  color: white;
  text-decoration: none;
}

.hero-text {
  font-size: large;
}

.display-eddit-form {
  display: none;
}

.display-add-form {
  display: none;
}

.form-card {
  flex: 1;
  border: black;
  border-style: solid;
}

.input-field {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.hero-list-style {
  display: flex;
  flex-direction: column;
}

.text-of-hero {
  padding: 0.5rem;
  width: 100%;
}

.parent {
  display: flex;
}

ul {
  padding-inline-start: 0;
}
